<%= form_with(model: reservation, local: true) do |form| %>
<% if reservation.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

  <ul>
    <% reservation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>




<div class="field">
    <%= form.label :photographer_id %>
    <%= form.select :photographer_id, {} %>
</div>

<%= form.fields_for :event do |ef| %>
<div class="field">
  <%= ef.label :category %>
  <%= ef.select :category, Category.pluck(:name, :id), prompt:"Selecciona categoría" %>
</div>

<div class="field">
  <%= ef.label :date %>
  <%= ef.text_field :date %>
</div>
  
<% end %>


<div class="field">
  <%= form.submit %>  
</div>

<% end %>



<script>
  $("#reservation_event_attributes_category").change(function(){
    $.ajax({
      url: "<%= categories_index_path %>", 
      data: {id: this.value},
      dataType: 'script'
      })

  });
</script>