<h1>Tus reservas</h1>
<p>Find me in app/views/reservations/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Photographer</th>
      <th>Date</th>
      <th>Payed</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.photographer.name %></td>
        <td><%= reservation.event.date %></td>
        <td><%= reservation.payed %></td>
        <td><%= link_to 'Show', reservation %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Index', root_path %>