<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Photographer</th>
      <th>Payed</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% Reservation.all.each do |reservation| %>
      <tr>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.photographer_id %></td>
        <td><%= reservation.payed %></td>
        <td><%= link_to 'Show', reservation %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Index', root_path %>