<div class="container-fluid text-center py-5">

  <h1>Tus reservas</h1>

  <table class="table table-dark">
    <thead>
      <tr>
        <th>#</th>
        <% if user_signed_in? %>
        <th>Photographer</th>
        <% end %>
        <% if photographer_signed_in? %>
        <th>User</th>
        <% end %>
        <th>Date</th>
        <th>Payed</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% if user_signed_in? %>

      <% current_user.reservations.includes([:event]).includes([:photographer]).each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.photographer.name %></td>
        <td><%= reservation.event.date %></td>
        <td><%= reservation.payed %></td>
        <td><%= link_to 'Detalle', reservation, class: 'btn btn-primary text-white' %></td>
      </tr>

      <% end %>

      <% end %>

      <% if photographer_signed_in? %>

      <% current_photographer.reservations.includes([:event]).includes([:user]).each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.event.date %></td>
        <td><%= reservation.payed %></td>
      </tr>

      <% end %>

      <% end %>

    </tbody>

  </table>

  <% if user_signed_in? %>
    <%= link_to 'Back', users_index_path %>
  <% end %>

  <% if photographer_signed_in? %>
      <%= link_to 'Back', photographers_show_path %>
  <% end %>
  
</div>

