<h1>Photographers#edit</h1>
<p>Find me in app/views/photographers/edit.html.erb</p>

<%= form_with(model: @photographer, local: true, url:photographers_update_path) do |f| %>
	<%= f.label :Categorías %>
    <%= f.collection_select(:category_id, @categories, :id, :name) %>

  <div class="actions">
        <%= f.submit %>
  </div>

<% end %>

<% @photographer.categories.each do |category| %>
<%= category.name %><a href="<%= remove_categoryphotographers_categoryphotographer_id_path(category) %>" data-method="delete"><span class="badge">x</span></a>
<% end %>


