<h1><%= @photographer.name %></h1>
<p>
  <strong>Mail:</strong>
  <%= @photographer.email %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @photographer.categories.pluck(:name).join(", ") %>
</p>

<%= link_to "Editar", photographers_edit_path , class: "btn btn-primary text-white" %>
<%= link_to "Index", root_path , class: "btn btn-dark text-white" %>


