<div class="container-fluid text-center py-5">

	<h1>Hola <%= current_photographer.name %>!</h1>

	<p>Trabajo en: <%= @photographer.categories.pluck(:name).join(", ") %></p>

	<p>En esta página podrás editar tu perfil, añadiendo las categorías de los eventos que puedas trabajar, ver las reservas que te han agendado y tus eventos realizados.</p>

	<p><%= link_to "Edita tu perfil", photographers_edit_path, class: "nav-link" %></p> 
	<p><%= link_to "Mis reservas", reservations_show_photographers_path, class: "nav-link" %></p>
	<p><%= link_to "Mis eventos", events_path, class: "nav-link" %></p> 
	<p><%= link_to "Back", root_path, class: "nav-link" %></p> 

</div>



